*{
        font-family: calibri;
    }

body{
    background-color: rgb(246, 250, 250);
}
  
#header{
        background-color: blue;
        background-size:cover;
        padding: 5px;
    }

li{
        list-style-type:none;
        font-size: large;
        font-weight: bold;
        display: inline;
        margin-left: 190px;
        margin-bottom: 30px;
        background-color: blue;
        color: white;

    }
#welcome{
        margin-left: 300px;
}
#concate{
    display: inline;
    color: blue;
}
ul li {
    background-color: blue;
    size: 10px;
}

/* #home{
    background-color: pink;
    color: darkblue;
    text-align: center;
    background-size: 0vmax;
} */


#myImg{
    margin-right: 10px;
   margin-bottom: 100px;
   margin-left: 100px;
   margin-top: 10px;
    float: right;
    border: 2px solid black;
}

#tbl{
    border: 2px;
    tab-size: 0vmax;
    width: 700px;
}
table th{
    color: white;
    background-color: black;
}
#logo{
    color: white;
}