*{
    margin: 0;
    padding: 0;
    color: rgb(10, 31, 10);
    font-family: calibri;

}

.fullForm{
    background-color: rgb(141, 189, 141);
    width: 350px;
    height: 560px;
    margin-left: 400px;
    border: solid green 1px;
    border-radius: 18px;
    margin-top: 30px;
}
#para{
    display: inline-block;
}

.header{
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    color: rgb(5, 94, 5);
    margin-top: 10px;
}
.frmbody{
    text-align: center;
    margin-top: 30px;
    
   
}

.frmbody input{
    border-radius: 17px;
    width: 200px;
    height: 29px;
    border: 1px green;
    margin-left: 0px;

}
img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
button{
    background-color: rgb(5, 94, 5);
    color: white;
    width: 200px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 17px;
    margin-top: 10px;

}
#checkbox{
    display: inline-block;
    text-align: left;
}