* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(140, 15, 172);
}
.fullForm{
    margin: 100px 100px 100px 100px;
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 400px;
    float: center;
    background-color: beige;
    box-shadow: inset;
    margin-bottom: 10px;
   
}
.frmHeader{
    width:100%;
    text-align: center;
    font-weight: bold;
    background-color: black;
    text-transform:uppercase;
    font-family: calibri;
    color:white;
    font-size: medium 40px;
    background-size: cover;
    margin-bottom: 10px;
   
}
.fromBody {
    margin:10px;
}
#name{
    background-color: rgb(235, 232, 201);
    padding: 7px 15px;
    border-radius: 7px;
    margin-left: 20px;
}
#company {
    background-color: rgb(235, 232, 201);
    color:black;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 7px;
    margin-left: 2px;
}
#email{
    background-color: rgb(235, 232, 201);
    color:black;
    padding:7px 15px;
    border-radius: 7px;
    margin-left: 20px;
}
#subject{
    background-color: rgb(235, 232, 201);
    color:black;
    padding:7px 15px;
    border-radius: 7px;
    margin-left: 11px;
}
#phone{
    background-color: rgb(235, 232, 201);
    color:black;
    padding:7px 15px;
    border-radius: 7px;
    margin-left: 20px;
}
#btn {
    background-color: rgb(187, 7, 7);
    color: white;
    border-radius: 4px;
    height: 30px;
    
}