
*{
    margin: 0;
    padding: 0;
    font-family: calibri;
}
header{
    background-color:blue;
    background-size:cover;
    padding: 5px;
    height: 110px;
    color:white;
}

header ul li{
    list-style-type:none;
    font-size: large;
    font-weight: bold;
    display: inline;
    margin-left: 190px;
    color: rgb(230, 155, 155);
    margin-top: 50px;
    /* margin-bottom: 10px; */
    /* background-color: blue; */
    
   
}
header ul li a{
    color: white;
    text-decoration: none;
}
section{
    padding: 20px;
    margin-left: 10px;
}
footer{
    background-color: blue;
    opacity: 30px;
    text-align: center;
    height: 60px;
    color: white;
    margin-bottom: auto;
}
#welcome{
    margin-left: 300px;
}
#concate{
    display: inline;
    color: blue;
    text-align: center;
}

#myImg{
    margin-right: 10px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-top: 10px;
    float: right;
    border: 2px solid black;
}

table{
    
    tab-size: 0vmax;
    width: 700px;
    border: 3px;
}
table th{
    color: white;
    background-color: black;
}
#logo{
    color: white;
    padding: 10px;
}

.fullForm{
    background-color: rgb(141, 189, 141);
    width: 350px;
    height: 560px;
    margin-left: 400px;
    border: solid green 1px;
    border-radius: 18px;
    margin-top: 30px;
}
#fcbook{
    width: 20px;
    height: 20px;
    display: inline;
    border-radius: 10px;
    
}
#google{
    width: 20px;
    height: 20px;
    display: inline;
    border-radius: 10px;
}
#apple{
    width: 20px;
    height: 20px;
    display: inline;
    border-radius: 10px;
}
#github{
    width: 20px;
    height: 20px;
    display: inline;
    border-radius: 10px;
}
#para{
    display: inline-block;
}

.header{
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    color: rgb(5, 94, 5);
    margin-top: 10px;
}
.frmbody{
    text-align: center;
    margin-top: 30px;
    
   
}

.frmbody input{
    border-radius: 17px;
    width: 200px;
    height: 29px;
    border: 1px green;
    margin-left: 0px;

}

button{
    background-color: rgb(5, 94, 5);
    color: white;
    width: 200px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 17px;
    margin-top: 10px;

}
#checkbox{
    display: inline-block;
    text-align: left;
}

